{% extends 'base.html' %}
{% block content %}

    <h1>Editar información del empleado</h1>
    {% for empleado in empleados %}
        <form method="post" action="/update" enctype="multipart/form-data">
            <h3>ID:</h3>
            <input class="form-1" type="text" value="{{ empleado[0]}}" name="txtID" id="txtID">
            <br>

            <h3>Nombre:</h3>
            <input class="form-1" type="text" value="{{ empleado[1]}}" name="txtNombre" id="txtNombre">
            <br>
    
            <h3>Correo:</h3>
            <input class="form-1" type="text" value="{{ empleado[2]}}" name="txtCorreo" id="txtCorreo">
            <br>
    
            <h3>Foto:</h3>
            <img class="img-thumbnail" src="{{ url_for('uploads', nombreFoto=empleado[3]) }}" alt="foto de perfil">
            <br>
            <br>
            <input type="file" name="txtFoto" id="txtFoto">
            <br>
            <br>
            <input class="btn-modificar" type="submit" value="Modificar">
        </form>

    {% endfor %}

{% endblock %}