html {
    font-family: 'Montserrat', sans-serif;
}

/* Nav */

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: #FFFFFF;
    padding: 40px 20px;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-img {
    max-width: 50px;
    border-radius: 100px;
}

.nav-title {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-title:hover {
    color: #ffeb3b;
}

.nav-menu {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-menu:hover {
    color: #ffeb3b;
}

/* Title */

.title {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.title-div {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 20px 40px;
    background-color: #ffeb3b;
    border-radius: 20px;
    box-shadow:  20px 20px 60px #d6d6d6;
}

.title-full {
    text-align: center;
}

.about-title {
    text-align: center;
    font-weight: bold;
}

/* table */

.section-table {
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
}

table {
    border-collapse: collapse;
    margin: 40px;
}

th {
    background-color: #000000;
    color: #ffeb3b;
}

th, td {
    border: 1px solid #000000;
    padding: 5px 10px;
}

tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

tbody tr:nth-child(even) {
    background-color: #d9d9d7;
}

.img-thumbnail {
    width: 100px;
    border-radius: 10px;
    border: solid black 2px;
}

/* Boton Nuevo Empleado */
.btn-container {
    display: flex;
    justify-content: center;
}

.btn-nuevo-empleado {
    background-color: #000000;
    color: #ffeb3b;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

/* Botones Editar | Eliminar */
.btn-editar {
    background-color: yellow;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.btn-eliminar {
    background-color: red;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

/* Botón Agregar */
.btn-agregar {
    background-color: green;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.btn-regresar {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.btn-modificar {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.alert {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: red;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}