html {
    font-family: 'Montserrat', sans-serif;
}

/* Nav */

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: #FFFFFF;
    padding: 40px 20px;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-img {
    max-width: 50px;
    border-radius: 100px;
}

.nav-title {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-title:hover {
    color: #ffeb3b;
}

.nav-menu {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-menu:hover {
    color: #ffeb3b;
}

/* Title */

.title {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.title-div {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 20px 40px;
    background-color: #e9e9e7;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title-full {
    text-align: center;
    padding: 40px 0;
}

.about-title {
    text-align: center;
    font-weight: bold;
}

/* table */

.section-table {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

table {
    border-collapse: collapse;
    margin: 40px;
}

th {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}

th, td {
    border: 1px solid #000000;
    padding: 5px 20px;
    text-align: center;
    width: auto;
}

tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

tbody tr:nth-child(even) {
    background-color: #d9d9d7;
}

.img-thumbnail {
    width: 100px;
    border-radius: 10px;
    border: solid black 2px;
}

/* Boton Nuevo Empleado */
.btn-container {
    display: flex;
    justify-content: center;
}

.btn-nuevo-empleado {
    background-color: #8bc34a;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    text-decoration: none;
}

.btn-nuevo-empleado:hover {
    background-color: #8bc34a;
    color: #090909;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    text-decoration: none;
}

/* Botones Editar | Eliminar */
.btn-editar {
    background-color: #2196f3;
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.btn-editar:hover {
    background-color: #2196f3;
    color: #090909;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.btn-eliminar {
    background-color: red;
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.btn-eliminar:hover {
    background-color: red;
    color: #090909;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

/* Botón Agregar */
.btn-agregar {
    background-color: #8bc34a;
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-agregar:hover {
    background-color: #8bc34a;
    color: #090909;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-regresar {
    background-color: #2196f3;
    color: #ffffff;
    padding: 5px 10px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.btn-regresar:hover {
    background-color: #2196f3;
    color: #090909;
    padding: 5px 10px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.btn-modificar {
    background-color: orange;
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-modificar:hover {
    background-color: orange;
    color: #090909;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.alert {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: red;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.form-1 {
    background-color: white;
    width: 500px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.hide {
    visibility: hidden;
}

.footer {
    padding: 40px 0;
    background-color: #090909;
    color: #FFFFFF;
}

.social-links {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-links a {
    margin: 0 10px;
}

.social {
    background-color: #FFFFFF;
    border: solid 1px #FFFFFF;
    box-shadow: 0 2px 3px #DDDDDD;
    border-radius: 15px;
    height: 40px;
}

.made-width {
    padding: 0 30px;
    color: #58AAE0;
    display: flex;
    justify-content: center;
}

.sub {
    text-align: center;
}

.sub-2 {
    text-align: center;
    margin-bottom: 40px;
}

.love {
    color: #ffffff;
}

span {
    color: #ffeb3b;
}