<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Gestor de Empleados</title>
</head>
<body>
    <nav class="nav">
        <div class="nav-left">
            <a class="nav-title" href="{{url_for('index')}}">Gestión de <strong>empleados</strong></a>
        </div>
        <div class="nav-right">
            <a class="nav-menu" href="{{url_for('index')}}">Empleados</a>
            <a class="nav-menu" href="{{url_for('create')}}">Registrar Empleados</a>
        </div>
    </nav>

    <section class="title">
        <div class="title-div">
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <div class="footer">
        <div class="center full-width">
            <div class="row">
                <h3 class="sub">CONTÁCTAME</h3>
            </div>
        </div>
        <div class="center full-width">
            <div class="row">
                <p class="sub-2">No olvides seguirme en mis Redes Sociales</p>
            </div>
        </div>
        <div class="center full-sidth social-links">
            <div class="row">
                <a target="_blank" href="https://www.facebook.com/Jorge-Garcia-Dev-105078822218513">
                    <img class="social" src="{{ url_for('static', filename='facebook.png') }}" alt="Logo Facebook">
                </a>
            </div>
            <div class="row">
                <a target="_blank" href="https://twitter.com/JorgeGarcia_Dev">
                    <img class="social" src="{{ url_for('static', filename='twitter.png') }}" alt="Logo Twitter">
                </a>
            </div>
            <div class="row">
                <a target="_blank" href="https://www.linkedin.com/in/jorgegarcia-dev">
                    <img class="social" src="{{ url_for('static', filename='linkedin.png') }}" alt="Logo Linkedin">
                </a>
            </div>
            <div class="row">
                <a target="_blank" href="https://github.com/JorgeGarcia-Dev">
                    <img class="social" src="{{ url_for('static', filename='github.png') }}" alt="Logo GitHub">
                </a>
            </div>
        </div>
        <div class="made-width">
            <div class="row">
                <p class="love">Development By_ <span>Jorge Garcia Dev</span></p>
            </div>
        </div>
    </div>

</body>
</html>